* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    /* font-family: ; */
    font-size: 16px;
    font-weight: 400;
}

.main {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    justify-content: center;
}

.img-container {
    width: 1000px;
    height: 500px;
}